body{
    background-color: lightblue;
}

.hanoi{
    background-color: teal;
    width: 70%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.torre{
    width: 10px;
    height: 80%;
    display: flex;
    flex-direction: column-reverse;
    background-color: lightcoral;
}

.pieza{
    height: 20px;
    background-color: tomato;
    border-radius: 20px;
    position: relative;
}

#pieza1{
    width: 50px;
    left: -20px;
    background-color: skyblue;
}

#pieza2{
    width: 70px;
    left: -30px;
    background-color: salmon;
}

#pieza3{
    width: 90px;
    left: -40px;
    background-color: pink;
}

#pieza4{
    width: 110px;
    left: -50px;
    background-color: royalblue;
}

#pieza5{
    width: 130px;
    left: -60px;
    background-color: blueviolet;
}